<h1>Open Tickets</h1>

<% if policy(Ticket).new? %>
  <%= link_to "New Ticket", new_ticket_path, class: "btn btn-default new-ticket-button" %>
<% end %>

<%= render 'shared/card', tickets: @tickets %>
