.new-ticket-button {
  width: 100%;
  margin: 20px;
  background: none;
  color: grey;
  height: 50px;
  border-radius: 25px;
  items-align: center;
  text-align: center;
  line-height: 30px;
  font-size: 30px;
}
